# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/.vs
/x64/Debug/OpenGL.tlog
/packages
/x64
/OpenGL.vcxproj.user
/packages.config
/OpenGL.vcxproj
/src/Basics/Basics.vcxproj
/src/Basics/Basics.vcxproj.filters
/src/Basics/Basics.vcxproj.user
/src/Basics/packages.config
/src/Light/Light.vcxproj
/src/Light/Light.vcxproj.filters
/src/Light/Light.vcxproj.user
/src/Light/packages.config
/Debug
